<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>My Movies</title>
</head>
<body>
	<h1 class="alert alert-primary">My Movies</h1>
	<ul>
		<% @movies.each do |movie| %>
			<li>
				<a href="/movies/<%= movie.id %>"><%= movie.title %></a>
			</li>
		<% end %>
	</ul>
	<a class="btn btn-primary" href="/movies/new">Add New Movie</a>

</body>
</html>